* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #999;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #fff;
    margin-bottom: 10px;
}

nav a {
    color: #1E90FF;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav a:hover {
    text-decoration: underline;
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 10px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

footer {
    font-size: 79px;
    text-align: center;
    margin-top: 40px;
    color: #666;
    font-weight: bold;
    color: #fff;
}

