*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #999;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 10px;
}

img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 300px;
}

