* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    color: #f5f5f5;
    line-height: 1.6;
    background: url(imgs/top.png) no-repeat center center fixed;
    background-size: cover;
}

body::before{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

header {
    background: #2398194d;
    padding: 25px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

header h1 {
    font-size: 2.2rem;
    color: #ff0000;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

section {
    padding: 70px 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.sobre-1 {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    background: #2398194d;
    margin: 10px 0;
    padding: 15px;
    border: 5px solid #ff0000;

    border-radius: 8px;
    transition: 0.3s;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background: #2398194d;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}
.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    background: linear-gradient(145deg, #ef0000, #fd5959);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2398194d;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #2398194d;
}